@font-face {
	font-family: PublicaSans_Bold;
	src: url(font/PublicaSans-Bold.otf);
}

@font-face {
	font-family: PublicaSans_Black;
	src: url(font/PublicaSans-Black.otf);
}

@font-face {
	font-family: PublicaSans_ExtraLightItalic;
	src: url(font/PublicaSans-ExtraLightItalic.otf);
}

@font-face {
	font-family: PublicaSans_Light;
	src: url(font/PublicaSans-Light.otf);
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
  }
  /*
  *  STYLE 7
  */
  
  #exampleModalLong::-webkit-scrollbar-track
  {
	 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 background-color: #030305;
	 border-radius: 10px;
  }
  
  #exampleModalLong::-webkit-scrollbar
  {
	 width: 10px;
	 background-color: #030305;
  }
  
  #exampleModalLong::-webkit-scrollbar-thumb
  {
	 border-radius: 10px;
	 background-image: -webkit-gradient(linear,
										left bottom,
										left top,
										color-stop(0.44, rgb(2, 166, 118)),
										color-stop(0.72, rgb(0, 115, 105)),
										color-stop(0.86, rgb(0, 56, 64)));
	}
	#exampleModalLong {
		scroll-behavior: smooth;
		overflow-x: hidden;
		}
		/*
		*  STYLE 7
		*/
		
		html::-webkit-scrollbar-track
		{
		 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		 background-color: #1a2035;
		 border-radius: 10px;
		}
		
		html::-webkit-scrollbar
		{
		 width: 10px;
		 background-color: #1a2035;
		}
		
		html::-webkit-scrollbar-thumb
		{
		 border-radius: 10px;
		 background-image: -webkit-gradient(linear,
											left bottom,
											left top,
											color-stop(0.44, rgb(2, 166, 118)),
											color-stop(0.72, rgb(0, 115, 105)),
											color-stop(0.86, rgb(0, 56, 64)));
		}
  
#process{
	display: none;
}
#graphic{
	display:none;
}
.img-dev{
	width: 70px;
	height: 70px;
	/* margin-top: 30px; */
	/* display: none;
	opacity: 0; */
	transition: all 0.4s;
}
.img-volt{
	max-width: 65%;
}
.img-excel{
	width: 40px;
	height: 40px;
	/* margin-top: 30px; */
	/* display: none;
	opacity: 0; */
	transition: all 0.4s;
}
.icon-nav{
	font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}
.pizza{
    position: relative;
    right: 10%;
    margin-top: 5%;
    width: 400px;
    height: 300px;
}


/* LOADING CSS */
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 28px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 58px;
		height: 58px;
		opacity: 0;
	}
}

.tela-inteira{
	display: none;
	margin-top: -0px;
	position: absolute;
	background: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
	text-align: center;
	transition: 0.4s all;
	animation: movimento-2 4s infinite linear;
	z-index: 10;
}


.inteiro{
	color: #EDEFF1;
	margin-top: 50px;
}
.inteiro h1{
	font-size: 90px;
}
.inteiro h2{
	font-size: 14px;
	color: #E01C55;
}

.center-text{
	text-align: center;
}
.loading-processando{
	color: #fff;
	font-family: PublicaSans_Black;
	margin-top: 300px;
}

.h3-modificacoes{
	font-size: 13px;
	margin-left: 16px;
	margin-top: -10px;
	padding: 0;
	
}
.wrapper2	{
	position: relative;
top: 100px;
left: 35%;
}
#dropdown1 {
	display: block
}
.graficos{
	
	padding: 5px;
	margin-top: 20px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  /* font-size: 36px; */
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  /* font-size: 60px; */
}

@media screen and (max-height: 450px) {
  /* .overlay a {font-size: 20px} */
  .overlay .closebtn {
  /* font-size: 40px; */
  top: 15px;
  right: 35px;
  }
}
html {
  height: 100%;
}



.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #02A676;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #02A676;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #02A676;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
