.img-excel{
	width: 40px;
	height: 40px;
	/* margin-top: 30px; */
	/* display: none;
	opacity: 0; */
	transition: all 0.4s;
}
.icon-nav{
	font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}
.pizza{
	margin-top: 5%;
    width: 400px;
    height: 300px;
}